/* 首页样式文件 */
.fn-clear,.clearfix{
	zoom:1;
}
.fn-clear:after,.clearfix:after{
	visibility:hidden;display:block;font-size:0;content:"1";clear:both;height:0;
}
.indexStyle .header-title{
	top:50px;
	z-index: 999;
	background: #F5F7FA;
	font-size: 12px;
	color:#999;
	height:50px;
	line-height: 50px;
	width: 100%;
}
.indexStyle .header-title .title-name{
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.indexStyle .message-container{
	background: #fff;
	width: 100%;
	min-height: 650px;
}

.message-container .message-title,.init-project-directory .init-project-title,.daily-maintain .daily-maintain-title{
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.indexStyle .init-project-directory{
	background: #fff;
	position: relative;
}
.init-project-directory .init-right{
	position: absolute;
	display: block;
	top:10px;
	right: 0;
	text-align: center;
}
.init-project-directory .init-right .close-icon{
	display: block;
	width: 40px;
	height: 40px;
	background: url('../app/page/index/image/u224.png') no-repeat;
}
.init-project-directory .init-right  .no-alert-warn{
	font-size:13px;
	color:#0AB2C4;
}
.init-project-directory .init-project-container,.indexStyle  .daily-maintain{
	width: 100%;
	background: #fff;
}
.init-project-list{
	width: 850px;
	margin:0 auto;
	font-size:13px;
	color:#000;
}

.init-project-container .init-project-list ul li {
	float: left;
	margin-right: 150px;
	margin-bottom:100px;
}
 .init-project-list .current-project{
 	cursor:pointer;
 	display: block;
 	width: 100px;
 	height: 100px;
 	text-align: center;
 	padding-left: 5px;
 	padding-right: 5px;
 	background: url('../app/page/index/image/u178.png') no-repeat;
 }
 .init-project-list .current-project-text{
 	display: inline-block;
 }
.init-project-directory .next-page{
	text-align: center;
}
.init-project-directory .next-page .next-button{
	width: 140px;
	height: 40px;
	line-height: 40px;
	padding: 0px;
    font-size: 12px;
    color: #fff;
    background-color: #169BD5;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}
.daily-maintain .daily-maintain-object{
	width: 672px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 30px;
	margin-top: 30px;
}
.daily-maintain .daily-maintain-object ul{
	margin-right: -150px;
}
.daily-maintain .daily-maintain-object ul li{
	float: left;
	margin-right: 150px;
}
.daily-maintain .daily-maintain-object .object{
	width: 124px;
	height: 124px;
	line-height:124px;
	text-align: center;
	color:#fff;
	background: url('../app/page/index/image/u278.png') no-repeat;
	margin-bottom: 30px;
}
.daily-maintain .daily-maintain-object .list-details{
	width: 124px;
	text-align: center;
}

.message-container-details .table > tbody > tr > td{
	vertical-align: middle;
}
.border{
	border-right:1px solid #ddd;
}
.message-container-details .table > tbody > tr > .remove-padding{
	padding:0;
}

