<div class="flex column flexbox">
    <div class="form-inline search-panel fixed-header">
        <div class="form-inline content-search gray-underline">
            <div class="form-group">
                <label class="control-label">选择险种：</label>
                <select class="changeRules">
                	<option>杭州市城镇医疗保险(当前共12，,456条规则)</option>
                </select>	
            </div>
            <div class="form-group">
                <label class="control-label">选择规则版本：</label>
                <select class="changeRules">
                	<option>v1.5</option>
                </select>	
            </div>
            <div class="form-group">
               <div class="versionManagementBigBox">
		        	<div class="versionManagementImg" (click)=versionManagementTitle()>
		        		<!-- <img src="../../../image/u7745.svg" /> -->
		        	</div>
		        	<div class="versionManagementTitle">
		        		<span (click)=versionManagementTitle()>版本管理</span>
		        	</div>
                </div>
            </div>
            <div class="form-group">
                <div class="RulesCheckBigBox">
		        	<div class="RulesCheckImg" (click)=RulesCheckTitle() >
		        		<!-- <img src="../../../image/u15118.svg" /> -->
		        	</div>
		        	<div class="RulesCheckTitle" (click)=RulesCheckTitle() >
		        		<span>规则校验</span>
		        	</div>
	        	</div>	
            </div>
        </div>
    </div> 
    <div class="HealthRulesRadiusBigBox">
    	<div class="form-group radius1">
    	     <div class="radiusTitle">疾病</div>
    	     <div class="HealthCount">00000</div>
    	     <div class="HealthRules">个规则</div>
    	</div>
    	<div class="form-group radius radius2">
    	     <div class="radiusTitle">药品</div>
    	     <div class="HealthCount">00000</div>
    	     <div class="HealthRules">个规则</div>
    	</div>
    	<div class="form-group radius radius3">
    		 <div class="radiusTitle">项目</div>
    	     <div class="HealthCount">00000</div>
    	     <div class="HealthRules">个规则</div>
    	</div>
    	<div class="form-group radius radius4">
    		 <div class="radiusTitle">材料</div>
    	     <div class="HealthCount">00000</div>
    	     <div class="HealthRules">个规则</div>
    	</div>
    	<div class="form-group radius radius5">
    		 <div class="radiusTitle">就诊</div>
    	     <div class="HealthCount">00000</div>
    	     <div class="HealthRules">个规则</div>
    	</div>
    </div>
    <div class="HealthBigBox"></div>
</div>
