<div class="flex column flexbox">
    <div class="form-inline search-panel fixed-header">
        <div class="form-inline content-search gray-underline versionManagementReturnBox">
             <div class="versionManagementReturnImg">
             	 <!-- <img src="../../../image/u2388.svg"/> -->
             </div>
             <div class="versionManagementReturn">
             	<span>返回</span>
             </div>
        </div>
        <div class="form-inline content-search gray-underline versionManagementAddBox">
             <div class="versionManagementAddImg">
             	 <!-- <img src="../../../image/u6735.png" /> -->
             </div>
             <div class="versionManagementAdd">
             	<span>校验历史</span>
             </div>
        </div>
    </div> 
</div>



