<div class="single-margin relative flexbox max-height700">
    <div class="gray-border bg-white left single-padding height500">
        <form class="gray-underline">
            <label class="title">险种:</label>
            <select>
            	<option class="yibao">杭州市城镇职工医保</option>
            </select>
        </form>
    </div>
    <!--医生端设置-->
    <div class="doctorBigBox">
		    <div class="doctorBox">
		    	<div class="doctorContent">※ 医生端设置</div>
		    </div>
		    <div class="doctorContentBox">
		    	<!-- <div (click)=settingRemove()><img src="../../../images/u6914.png" class="warimgImg"/></div> -->
		    	<div class="warimgDoctorSelectBox">
			    	<select class="warimgDoctorSelect">
			    		<option>就诊来源</option>
			    		<option>所有来源</option>
			    		<option>急门部</option>
			    		<option>门诊</option>
			    		<option>急诊</option>
			    		<option>住院</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>规则类型</option>
			    		<option>所有类型</option>
			    		<option>药物规则</option>
			    		<option>项目规则</option>
			    		<option>材料规则</option>
			    		<option>疾病规则</option>
			    		<option>就诊规则</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>使用理由</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>显示等级</option>
			    		<option>0级</option>
			    		<option>1级</option>
			    		<option>2级</option>
			    		<option>3级</option>
			    		<option>4级</option>
			    		<option>5级</option>
			    		<option>6级</option>
			    		<option>7级</option>
			    		<option>8级</option>
			    		<option>9级</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>执行操作</option>
			    		<option>拦截</option>
			    		<option>警示</option>
			    		<option>隐藏</option>
			    	</select>
		    	</div><br />
		    	<div class="addGroud"><p class="addGroundTitle" (click)=AddGroups()>添加组合</p></div>
		    </div>
    </div>
     <!--护士端设置-->
     <div class="doctorBigBox">
		    <div class="doctorBox">
		    	<div class="doctorContent">※ 护士端设置</div>
		    </div>
		    <div class="doctorContentBox">
		    	<!-- <div (click)=settingRemove()><img src="../../../images/u6914.png" class="warimgImg"/></div> -->
		    	<div class="warimgDoctorSelectBox">
			    	<select class="warimgDoctorSelect">
			    		<option>就诊来源</option>
			    		<option>所有来源</option>
			    		<option>急门部</option>
			    		<option>门诊</option>
			    		<option>急诊</option>
			    		<option>住院</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>规则类型</option>
			    		<option>所有类型</option>
			    		<option>药物规则</option>
			    		<option>项目规则</option>
			    		<option>材料规则</option>
			    		<option>疾病规则</option>
			    		<option>就诊规则</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>使用理由</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>显示等级</option>
			    		<option>0级</option>
			    		<option>1级</option>
			    		<option>2级</option>
			    		<option>3级</option>
			    		<option>4级</option>
			    		<option>5级</option>
			    		<option>6级</option>
			    		<option>7级</option>
			    		<option>8级</option>
			    		<option>9级</option>
			    	</select>
			    	<select class="warimgDoctorSelect">
			    		<option>执行操作</option>
			    		<option>拦截</option>
			    		<option>警示</option>
			    		<option>隐藏</option>
			    	</select>
		    	</div><br />
		    	<div class="addGroud"><p class="addGroundTitle" (click)=AddGroups()>添加组合</p></div>
		    </div>  
    </div>
    <div class="warimgXinxi">
		    <p>
		    	<span class="warimgSave" (click)="WarimgSave()">
		    		保存
		    	</span>
		    </p>
    </div>
</div>
