<!--<div class="single-margin relative flexbox max-height700">
    <div class="gray-border bg-white left single-padding height500">
        <form class="gray-underline">
            <label class="title">险种:</label>
            <select class="yibao">
            	<option>杭州市城镇职工医保</option>
            </select>
        </form>
        <div class="formulaPreserveBox">
        	
        </div>
    </div>
</div>-->

<div class="drugsObject flex column pl15 pr15">
	<div class="container-left pl15 pt15 pr15">
		<div class="drug-tree mt10">
			<div class="drug-header">
						<div class="search-panel form-inline">
					            <div class="form-group">
					                <label class="control-label drug-name">药品名称：</label>
					                <div class="input-group">
					                    <div class="input-group-addon"></div>
					                    <input class="form-control" type="text" placeholder="请输入关键字" />
					                <button type="submit" class="btn btn-primary" >搜索</button>
					                </div>
					            </div>
        				</div>
						<div  class="fn-lh30 setting">
							<span>警示信息设置</span>
							<span>批量导入</span>
						</div>		
			</div>
			<div id="data-drugs-list" class="drugs-list flex1" >
            <Tree [nodes]="drugsTreeData" class="my-tree" [options]="options" (onToggle)="getChildren($event)" (onActivate)="chooseNode($event)">
                <template #treeNodeTemplate let-node>
                    <div >
                        <span [class.nodes-icon]="node.data.type == 0" [class.node-icon]="node.data.type != 0"></span>
                        <span>{{node.data.name || node.data.bookName}}</span>
                        <span *ngIf="node.data.type == 0 && node.data == curNode" (click)="add(node)"><img src="../../../images/commonicons/add-icon.svg"></span>
                        <span *ngIf="node.data == curNode && node.data.pid != null" (click)="delData(node)"><img src="../../../images/commonicons/delete-icon.svg" style="vertical-align: -2px;"></span>
                    </div>
                </template>
            </Tree>
        </div>

		</div>
	</div>
	<div class="container-right"></div>
<div>
